In [1]:
import os
import sys

os.environ['SPARK_HOME'] = '/usr/local/bin/spark-3.0.1-bin-hadoop3.2'
os.environ['PYTHONPATH'] = f'{os.environ["SPARK_HOME"]}/python:{os.environ["SPARK_HOME"]}/python/build:{os.environ["PYTHONPATH"]}'
os.environ['PYTHONPATH'] = f'{os.environ["SPARK_HOME"]}/python/lib/pyspark.zip:{os.environ["PYTHONPATH"]}'
os.environ['PYSPARK_PYTHON'] = sys.executable

In [2]:
from pyspark import SparkContext, SparkConf

conf = SparkConf().setAppName('appName').setMaster('local')
spark_context = SparkContext(conf=conf)
#data = range(10)
#dist_data = sc.parallelize(data)
#print(dist_data.reduce(lambda a, b: a+b))

In [3]:
from pyspark.sql import SparkSession

spark_session = (
    SparkSession
    .builder
    .master("local")
#    .appName("Word Count")
#    .config("spark.some.config.option", "some-value")
    .getOrCreate()
)

In [24]:
options = {
    'header': True,
    'inferSchema': True,
}
sdf = spark_session.read.options(**options).csv('exemple.csv')

In [25]:
import databricks.koalas as ks
kdf = sdf.to_koalas()

In [26]:
kdf.info()

<class 'databricks.koalas.frame.DataFrame'>
Index: 5000 entries, 0 to 4999
Data columns (total 45 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   date                                5000 non-null   object
 1   location_key                        5000 non-null   object
 2   country_code                        5000 non-null   object
 3   country_name                        5000 non-null   object
 4   subregion1_code                     5000 non-null   object
 5   subregion1_name                     5000 non-null   object
 6   subregion2_code                     5000 non-null   int32
 7   subregion2_name                     5000 non-null   object
 8   iso_3166_1_alpha_2                  5000 non-null   object
 9   iso_3166_1_alpha_3                  5000 non-null   object
 10  aggregation_level                   5000 non-null   int32
 11  new_confirmed                       3849 non-null   int32
 12  new_deceased                        3849 non-null   int32
 13  new_recovered                       0 non-null      object
 14  new_tested                          0 non-null      object
 15  cumulative_confirmed                3864 non-null   int32
 16  cumulative_deceased                 3864 non-null   int32
 17  cumulative_recovered                0 non-null      object
 18  cumulative_tested                   0 non-null      object
 19  new_hospitalized_patients           0 non-null      object
 20  new_intensive_care_patients         0 non-null      object
 21  new_ventilator_patients             0 non-null      object
 22  cumulative_hospitalized_patients    0 non-null      object
 23  cumulative_intensive_care_patients  0 non-null      object
 24  cumulative_ventilator_patients      0 non-null      object
 25  current_hospitalized_patients       0 non-null      object
 26  current_intensive_care_patients     0 non-null      object
 27  current_ventilator_patients         0 non-null      object
 28  mobility_transit_stations           1696 non-null   int32
 29  mobility_retail_and_recreation      2740 non-null   int32
 30  mobility_grocery_and_pharmacy       2456 non-null   int32
 31  mobility_parks                      2031 non-null   int32
 32  mobility_residential                2397 non-null   int32
 33  mobility_workplaces                 3827 non-null   int32
 34  wikidata_id                         5000 non-null   object
 35  datacommons_id                      5000 non-null   object
 36  openstreetmap_id                    5000 non-null   int32
 37  latitude                            5000 non-null   float64
 38  longitude                           5000 non-null   float64
 39  location_geometry                   5000 non-null   object
 40  average_temperature_celsius         4940 non-null   float64
 41  minimum_temperature_celsius         4940 non-null   float64
 42  maximum_temperature_celsius         4940 non-null   float64
 43  rainfall_mm                         4940 non-null   float64
 44  snowfall_mm                         479 non-null    float64
dtypes: float64(7), int32(13), object(25)

In [32]:
kdf.query('country_code == "US"').cumulative_deceased.sum()

109558